
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

ul.list-group {
  li {
    input,textarea
    {
      border: none;
      box-shadow: none;
      text-shadow: none!important;
    }
    textarea {
      min-height: 150px;
    }
  }
}
.add {
  background: #d8ebff;
}
